<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido</title>
  <link rel="stylesheet" href="/estilos.css">
</head>
<body>
  <nav>
    <span>Bienvenido <%= usuario.nombre %> - <%= usuario.rol %></span>
    <a href="/logout">Cerrar Sesión</a>
  </nav>
</body>
</html>
